{% extends 'base.html.twig' %}
{% block title 'Agence Lecocq'%}

{% block body %}
    <div class="jumbotron text-center">

        <div class="container">
            <h1>Agence Lecocq</h1>
            <p>Agence Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo, facere, fugiat
                iusto, molestias mollitia nobis odio officia quasi quidem quos saepe vero voluptatibus! Laboriosam
                magnam molestiae officiis recusandae rem.</p>
        </div>
    </div>
{% endblock %}